* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}

.kick-pad,
.snare-pad,
.hihat-pad {
  width: 5rem;
  height: 5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
}

.kick-pad {
  background-color: rgb(130, 153, 223);
}

.snare-pad {
  background-color: rgb(235, 166, 158);
}

.hihat-pad {
  background-color: rgb(157, 235, 137);
}

.kick-pad.active {
  background-color: royalblue;
}

.snare-pad.active {
  background-color: salmon;
}
.hihat-pad.active {
  background-color: green;
}

.sequencer {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.kick-track,
.snare-track,
.hihat-track {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  margin: 5rem 0 0 0;
}

.kick,
.snare,
.hihat {
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 2rem;
}

.controls button {
  padding: 1rem;
  border: none;
  background-color: slategray;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 8px;
}

.pad {
  transition: all 0.5s ease;
}

.play {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: slategray;
  color: white;
  border: none;
  cursor: pointer;
  margin: 3rem 0 0 0;
  border-radius: 8px;
}

select {
  padding: 1rem;
  font-size: 1rem;
  border-radius: 6px;
}

.mute.active {
  background-color: rgb(201, 197, 197);
}

.tempo {
  margin: 3rem;
  width: 30%;
}

.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0;
  width: 100%;
  position: relative;
  background: lightgray;
  cursor: pointer;
  border-radius: 1rem;
}

.tempo p {
  font-size: 1.5rem;
  margin: 2rem;
  text-align: center;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
